# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
parser
ifj23
scanner
.vscode/settings.json
test.py
/tests
main
main
test.txt
test.txt
.vscode/settings.json
tests/test_frames.txt
tests/test_frames2.txt
tests/test.txt
tests/test2.txt
tests/1CondLetTests/compare/prog
tests/1CondLetTests/compare/return
tests/1CondLetTests/noLet/prog
tests/1CondLetTests/noLet/return
tests/1CondLetTests/notLetInIf/prog
tests/1CondLetTests/notLetInIf/return
tests/1CondLetTests/ok/out
tests/1CondLetTests/ok/prog
tests/1CondLetTests/ok/return
tests/1CondLetTests/wronglet/prog
tests/1CondLetTests/wronglet/return
tests/CodeGen/FunctionCall/tooMuchArgs/prog
tests/CodeGen/If/Error4/int/return
tests/CodeGen/If/Error4/stringZero/prog
tests/CodeGen/If/FloatZero/out
tests/CodeGen/If/FloatZero/prog
tests/CodeGen/If/FloatZero/return
tests/CodeGen/If/if TRUE/out
tests/CodeGen/If/if TRUE/prog
tests/CodeGen/If/if TRUE/return
tests/CodeGen/If/ifFALSE/out
tests/CodeGen/If/ifFALSE/prog
tests/CodeGen/If/ifFALSE/return
tests/CodeGen/If/ifNIL/out
tests/CodeGen/If/ifNIL/prog
tests/CodeGen/builtin/int/intToDouble/ok/out
tests/CodeGen/builtin/read/readString/prog
tests/CodeGen/builtin/string/chr/constant/out
tests/CodeGen/builtin/string/chr/constant/prog
tests/CodeGen/builtin/string/chr/input/in
tests/CodeGen/builtin/string/chr/input/out
tests/CodeGen/builtin/string/length/WrongType/prog
tests/CodeGen/builtin/string/length/string/prog
tests/CodeGen/builtin/string/ord/char/prog
tests/CodeGen/builtin/string/ord/empty/prog
tests/CodeGen/builtin/string/ord/escapeChar/prog
tests/CodeGen/builtin/string/ord/wrongType/prog
tests/CodeGen/builtin/string/substring/nil/ilessZero/prog
tests/CodeGen/builtin/string/substring/nil/imoreMax/prog
tests/CodeGen/builtin/string/substring/nil/jlessZero/prog
tests/CodeGen/builtin/string/substring/nil/jmoreMax/prog
tests/CodeGen/builtin/write/int_string/out
tests/CodeGen/builtin/write/int_string/prog
tests/CodeGen/compare/Equal_trippleEqual/prog
tests/CodeGen/compare/NotEqual_DoubleEqual/prog
tests/CodeGen/compare/equals/ok/out
tests/CodeGen/compare/equals/wrong/prog
tests/CodeGen/compare/greater/ok/prog
tests/CodeGen/compare/greaterEqual/wrong/prog
tests/CodeGen/compare/greaterEqual/wrongOrder/prog
tests/CodeGen/compare/less/ok/prog
tests/CodeGen/compare/less/ok2/prog
tests/CodeGen/compare/less/wrong/prog
tests/CodeGen/compare/lessEqual/wrongOrder/prog
tests/CodeGen/compare/notEqual/ok/prog
tests/CodeGen/compare/notEqual/wrong/prog
tests/CodeGen/return/missingReturn/prog
tests/CodeGen/return/ok/prog
tests/CodeGen/return/wrongType/prog
tests/CodeGen/while/4timesTrue/out
tests/CodeGen/while/NIL/porg
tests/CodeGen/while/NIL/prog
tests/CodeGen/while/emptyString/prog
tests/Functions/fibbonachi/prog
tests/Functions/ifFunc/out
tests/Functions/ifFunc/prog
tests/Functions/kvadratic/out
tests/Functions/kvadratic/prog
tests/Functions/recursion/out
tests/Functions/recursion/prog
tests/Functions/string/prog
tests/Lexer/Float/int_exp/out
tests/Lexer/Float/limit/out
tests/Lexer/Float/limit/prog
tests/Lexer/string/concatenate/prog
tests/Parser/builtIn/out
tests/Parser/builtIn/prog
tests/Parser/if/prog
tests/Parser/keywordAsVariable/return
tests/Parser/nil/prog
tests/Parser/nil/return
tests/constructionDemolition/FucnCall_ButVar/return
tests/constructionDemolition/ifDemolitin/missingIF1/prog
tests/constructionDemolition/letCheck/prog
tests/constructionDemolition/letCheck/return
tests/constructionDemolition/stringDemolition/moreLines/prog
tests/constructionDemolition/whileDemolition/Ok_justToBeSure/out
tests/constructionDemolition/whileDemolition/WHILE/prog
tests/constructionDemolition/whileDemolition/missingBracket1/prog
tests/constructionDemolition/whileDemolition/missingBracket2/prog
tests/constructionDemolition/whileDemolition/missingWhile/prog
tests/examples/example1/prog
tests/examples/example2/prog
tests/examples/example3/out
tests/examples/example3/prog
tests/math/IntOperations_noVar/prog
tests/math/floatNegativ/out
tests/math/randomOperations/out
tests/math/randomOperations2/prog
badCasesToFix.txt
tests/test_frames.txt
tests/test.txt
tests/CodeGen/FunctionCall/tooMuchArgs/prog
tests/CodeGen/If/Error4/int/return
tests/CodeGen/If/Error4/stringZero/prog
tests/CodeGen/If/FloatZero/out
tests/CodeGen/If/FloatZero/prog
tests/CodeGen/If/FloatZero/return
tests/CodeGen/If/if TRUE/out
tests/CodeGen/If/if TRUE/prog
tests/CodeGen/If/if TRUE/return
tests/CodeGen/If/ifFALSE/out
tests/CodeGen/If/ifFALSE/prog
tests/CodeGen/If/ifFALSE/return
tests/CodeGen/If/ifNIL/out
tests/CodeGen/If/ifNIL/prog
tests/CodeGen/builtin/int/intToDouble/ok/out
tests/CodeGen/builtin/read/readString/prog
tests/CodeGen/builtin/string/chr/constant/out
tests/CodeGen/builtin/string/chr/constant/prog
tests/CodeGen/builtin/string/chr/input/in
tests/CodeGen/builtin/string/chr/input/out
tests/CodeGen/builtin/string/length/WrongType/prog
tests/CodeGen/builtin/string/length/string/prog
tests/CodeGen/builtin/string/ord/char/prog
tests/CodeGen/builtin/string/ord/empty/prog
tests/CodeGen/builtin/string/ord/escapeChar/prog
tests/CodeGen/builtin/string/ord/wrongType/prog
tests/CodeGen/builtin/string/substring/nil/ilessZero/prog
tests/CodeGen/builtin/string/substring/nil/imoreMax/prog
tests/CodeGen/builtin/string/substring/nil/jlessZero/prog
tests/CodeGen/builtin/string/substring/nil/jmoreMax/prog
tests/CodeGen/builtin/write/int_string/out
tests/CodeGen/builtin/write/int_string/prog
tests/CodeGen/compare/Equal_trippleEqual/prog
tests/CodeGen/compare/NotEqual_DoubleEqual/prog
tests/CodeGen/compare/equals/ok/out
tests/CodeGen/compare/equals/wrong/prog
tests/CodeGen/compare/greater/ok/prog
tests/CodeGen/compare/greaterEqual/wrong/prog
tests/CodeGen/compare/greaterEqual/wrongOrder/prog
tests/CodeGen/compare/less/ok/prog
tests/CodeGen/compare/less/ok2/prog
tests/CodeGen/compare/less/wrong/prog
tests/CodeGen/compare/lessEqual/wrongOrder/prog
tests/CodeGen/compare/notEqual/ok/prog
tests/CodeGen/compare/notEqual/wrong/prog
tests/CodeGen/return/missingReturn/prog
tests/CodeGen/return/ok/prog
tests/CodeGen/return/wrongType/prog
tests/CodeGen/while/4timesTrue/out
tests/CodeGen/while/NIL/prog
tests/CodeGen/while/emptyString/prog
tests/Functions/fibbonachi/prog
tests/Functions/ifFunc/out
tests/Functions/ifFunc/prog
tests/Functions/kvadratic/out
tests/Functions/kvadratic/prog
tests/Functions/recursion/out
tests/Functions/recursion/prog
tests/Functions/string/prog
tests/Lexer/Float/int_exp/out
tests/Lexer/Float/limit/out
tests/Lexer/Float/limit/prog
tests/Lexer/string/concatenate/prog
tests/Parser/builtIn/out
tests/Parser/builtIn/prog
tests/Parser/if/prog
tests/Parser/keywordAsVariable/return
tests/Parser/nil/prog
tests/Parser/nil/return
tests/constructionDemolition/FucnCall_ButVar/return
tests/constructionDemolition/ifDemolitin/missingIF1/prog
tests/constructionDemolition/stringDemolition/moreLines/prog
tests/constructionDemolition/whileDemolition/Ok_justToBeSure/out
tests/constructionDemolition/whileDemolition/WHILE/prog
tests/constructionDemolition/whileDemolition/missingBracket1/prog
tests/constructionDemolition/whileDemolition/missingBracket2/prog
tests/constructionDemolition/whileDemolition/missingWhile/prog
tests/examples/example1/prog
tests/examples/example2/prog
tests/examples/example3/out
tests/examples/example3/prog
tests/math/IntOperations_noVar/prog
tests/math/floatNegativ/out
tests/math/randomOperations/out
tests/math/randomOperations2/prog
